body {
    background-color: lightgrey;
    font-family: helvetica;
    text-align: center;
}

.mamaDiv {
    display: grid;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
}

.lilDiv {
    /* background-color: lightgreen; */
    border-style: solid;
    border-width: 0.1px;

}

.lilDiv:hover {
    background-color: blue;
}

#dasButton {
    width: 502px;
    height: 33px;
    font-size: 15px;
    margin-bottom: 3px;
    /* margin: 0 auto; */
}

#dasButton:hover {
    background-color: darkblue;
    color: pink;
}