html {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

body {
    background-color: lightgrey;
    height: 100%;
    width: 90%;
    font-family: helvetica;
}

.mamaDiv {
    border: thick;
    font-size: 15px;
    border-style: solid;
    border-width: 3px;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(16, 6.25%);
}

.lilDiv {
    /* width: 5%;
    height: 6.25%; */
    background-color: lightgreen;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.lilDiv:hover {
    background-color: blue;
}